<div id="other-wrapper">
  <div class="headline">
    <img src="/static/images/browser.png" />
    <div class="headline-text">
      Other Links
    </div>
  </div>
  <div class="clearboth"></div>
  
  <ul id="other-links">
    <li>
      <h4>Tennis:</h4>
      <div><a href="http://bostonprotennis.net/">Boston Pro Tennis League:</a> The tennis league I play in.</div>
      <div><a href=" http://www.longwoodcricket.com/">Longwood Cricket Club:</a> My tennis club. Always looking for a game.</div>
      
     
    </li>
    <li>
      <h4>Work:</h4>
      <div><a href="/static/documents/tim-kofol-resume.pdf">My Resume</a></div>
      <div><a href="http://www.7sbio.com/">7th Sense Biosystems</a></div>
      <div><a href="http://www.linkedin.com/in/timkofol">LinkedIn</a></div>
    </li>
    <li>
      <h4>Life:</h4>
      <div><a href="http://www.facebook.com/tim.kofol">Facebook</a></div>
      <div><a href="http://twitter.com/tkofol">Twitter: @tkofol</a></div>
      <div><a href="mailto:tkofol@gmail.com">tkofol@gmail.com</a></div>
    </li>
    <li>
      <h4>Random:</h4>
      <div><a href="http://apps.facebook.com/fbtournament/">Facebook Tournament Maker:</a> A simple way to make tournaments on Facebook I created.</div>
      <div><a href="http://alarmtube.highimpactnoise.com">AlarmTube:</a> My alarm clock - YouTube mashup</div>
      <div><a href="/static/documents/Patent_US07809434.pdf">My Patent:</a> System and method for EEG imaging of cerebral activity using small electrode sets.</div>
    </li>
  </ul>
  <div class="clearboth"></div>
</div>