<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ page.title }}</title>
  <meta name="verify-v1" content="A7msOJpnpZkN73EeEYI8Fh7LSNT2EmqIJPoGxqQxgV8=" />
  <link href="/static/css/main.css" rel="stylesheet" type="text/css" /> 
  <link href="/static/css/syntax.css" rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
  <script src="/static/javascript/jquery.tweet.js"></script>
  <script src="/static/javascript/jquery.scale.js"></script>
</head>
<body>
  <div id="wrap">
    <div id="banner"><img src="/static/images/banner.jpg" /></div>
    <div id="header">
      <div id="nav">
        <span id="about-me">
          <a href="/about">[About Me]</a> |
          <a href="/blog">[Blog]</a>
        </span>
      </div>
      <div id="title">
        <h1><a href="/">High Impact Noise</a></h1>
        <p class="description">{ Tim Kofol's Website }</p>
      </div>
    </div>

    {{content}}
        
    <div id="footer">
      High Impact Noise is designed by <a href="http://highimpactnoise.com">Tim Kofol</a>. <br/>
    </div>
  </div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-608955-2";
urchinTracker();
</script>
</body>
</html>
